body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fff6ec;
    text-align: center;
    padding: 20px;
}

.sentence-pool {
    background-color: transparent;
    border: 2px solid #3D2411;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: inline-block;
    min-width: 300px;
}

.sentence-card {
    background-color: transparent;
    border: 1px solid #000000;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 4px;
    cursor: grab;
    display: inline-block;
    font-size: 1.1em;
}

/* Visually changes the card while active dragging happens */
.sentence-card:active {
    cursor: grabbing;
    opacity: 0.5;
}

.boxes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.drop-box {
    background-color: #eae0d4f3;
    border:#000000 2px solid;
    border-radius: 8px;
    width: 300px;
    min-height: 200px;
    padding: 15px;
    transition: background-color 0.2s;
}

/* Visual cue when hovering over a drop box */
.drop-box.hovered {
    background-color: #f0f8fd;
    border-color: #32638d;
}

#reset-btn {
   display: block;
   margin: 0 auto 25px;
    background-color: #c1cebb;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: background-color 0.2s;
}

#reset-btn:hover {
    background-color: #f4bbc9;
}

#reset-btn:active {
    transform: scale(0.98);
}

